{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
   <div class="row g-0">
      <div class="col-12 custom-border text-center my-3 p-3">
         <div class="newsletter-subscribe">
            <i class="fa-solid fa-circle-check fa-bounce" style="color: #606c38;"></i>
            <h4>Thank you for subscribing to Clean Cosmetics Newsletter!!</h4>
            <p>We'll send you monthly promotions and discounts!!</p>
         </div>
      </div>
   </div>
</div>
{% endblock %}