:root {
    --light-green: #606c38;
    --dark-green: #283618;
    --white: #fefae0;
    --light-orange: #dda15e;
    --background: #fefae0;
    --dark-orange: #bc6c25;
}

html {
    height: 100%;
}

body {
    font-family: 'Playfair Display', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

/* navbar */

.nav-link {
    font-weight: 600;
}

/* Products */

.product-info {
    font-family: 'Lato', serif;
}


.shop-btn {
    box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
    background-color: var(--light-green);
    color: var(--white);
}

.shop-btn:hover {
    background-color: var(--dark-green);
    color: var(--white);
}
/* Shopping bag */

.btn-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* Toasts */
.message-container {
    min-height: 30px;
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}


/* Hero section */

.btn{
    background-color: var(--light-green);
    color: var(--white);
}

.btn:hover {
    background-color: var(--dark-green);
    color: var(--white);
}

.hero-btn {
    box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 1px 9px 26px -4px rgba(0, 0, 0, 0.66);
}
.bg-orange {
    background-color: var(--light-orange);
}

.custom-border {
    border: var(--dark-orange) 1px solid;
    border-radius: 10px;
    box-shadow: 4px 8px 24px -4px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: 4px 8px 24px -4px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 4px 8px 24px -4px rgba(0, 0, 0, 0.66);
}

.hero-image {
    background-size: contain;
    height: calc(100vh - 170px);
    padding: 30px 30px 30px 40px;
}

/* Hero section */
@media (max-width: 978px) {
    .hero-image {
        height: 360px;
        padding: 0 0 20px;
    }
}

@media (max-width: 460px) {
    .hero-image {
        height: 284px;
    }
}

/* footer */
#footer {
    margin-top: auto;
}

#social-links a {
    text-decoration: none;
}

#social-links a i {
    font-size: 20px;
}

#social-links a i:hover {
    color: var(--light-green);
}

/* -------------------------------- Media Queries */

/* a little larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed navbar on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }