
<!-- Footer -->
<footer class="container-wrapper">
       <div class="row g-0">
         <div class="col-12 col-md-6">
           <h3>Social</h3>
           <p>Keep up to date with all our latest offers</p>
           <a href="https://www.facebook.com/profile.php?id=61556517192102" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
         </div>
         <div class="col-12 col-md-6">
           <h2>Subscribe!</h2>
           <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
           <!-- Mailchimp signup form here -->
         </div>
       </div>
     </section>
   </div>
 </footer>
<!-- /.footer -->

<div class="container d-flex justify-content-center p-4 border-bottom">
    <div id="social-links">
        <a href="https://www.facebook.com/profile.php?id=61554036458390" target="_blank" rel="noopener" rel="nofollow"
            class="me-10 text-reset" aria-label="Link to Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" rel="nofollow" class="me-4 text-reset" aria-label="Link to Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" rel="noopener" rel="nofollow" class="me-4 text-reset" aria-label="Link to Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener" rel="nofollow" class="me-4 text-reset" aria-label="Link to LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</div>