<div class="row g-0">
  <div class="col">
     <hr>
     <h2 class="text-center">Stay In Touch</h2>
     <hr>
  </div>
</div>
<div class="row g-0">
  <div class="col-12 col-md-6 text text-center">
     <h3>Social</h3>
     <p>Keep up to date with all our latest offers</p>
     <a href="https://www.facebook.com/profile.php?id=61556517192102" rel="noopener nofollow" target="_blank" aria-label="link to facebook business page"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
  </div>
  <div class="col-12 col-md-6 text-center pt-10">
     <h2>Subscribe!</h2>
     <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
     <div id="mc_embed_shell">
        <div id="mc_embed_signup">
           <form action="https://herokuapp.us13.list-manage.com/subscribe/post?u=a27a1fe1523a4ee15dacefa1f&amp;id=0e56a643b2&amp;f_id=00f112e4f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <div id="mc_embed_signup_scroll">
                 <h2>Subscribe</h2>
                 <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                 <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""><span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                 <div id="mce-responses" class="clear foot">
                    <div class="response" id="mce-error-response" style="display: none;"></div>
                    <div class="response" id="mce-success-response" style="display: none;"></div>
                 </div>
                 <div aria-hidden="true" style="position: absolute; left: -5000px;">
                    <input type="text" name="b_a27a1fe1523a4ee15dacefa1f_0e56a643b2" tabindex="-1" value="" aria-required="true">
                 </div>
                 <div class="optionalParent">
                    <div class="clear foot">
                       <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                       <p style="margin: 0px auto;"><a href="http://eepurl.com/iKKQuE" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                    </div>
                 </div>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>
<div class="container d-flex justify-content-center p-4 border-bottom">
  <div id="social-links">
     <a href="https://www.facebook.com/profile.php?id=61554036458390" target="_blank" rel="noopener nofollow"
        class="me-10 text-reset" aria-label="Link to Facebook">
     <i class="fab fa-facebook-f"></i>
     </a>
     <a href="https://www.instagram.com/" target="_blank" rel="noopener nofollow" class="me-4 text-reset" aria-label="Link to Instagram">
     <i class="fab fa-instagram"></i>
     </a>
     <a href="https://twitter.com/" target="_blank" rel="noopener nofollow" class="me-4 text-reset" aria-label="Link to Twitter">
     <i class="fab fa-twitter"></i>
     </a>
     <a href="https://www.linkedin.com/" target="_blank" rel="noopener nofollow" class="me-4 text-reset" aria-label="Link to LinkedIn">
     <i class="fab fa-linkedin"></i>
     </a>
  </div>
</div>