<div class="container d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
        <span>Check us out on social networks:</span>
    </div>
    <div id="social-links">
        <a href="https://www.facebook.com/profile.php?id=61554036458390" target="_blank" rel="noopener"
            class="me-4 text-reset text-white" aria-label="Link to Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" class="me-4 text-reset" aria-label="Link to Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/" target="_blank" rel="noopener" class="me-4 text-reset" aria-label="Link to Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" rel="noopener" class="me-4 text-reset" aria-label="Link to LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</div>