{% load static %}

<section class="hero-section px-5">
   <div class="container bg-orange">
      <div class="row mt-2 justify-content-center align-items-center g-0">
         <div class="col-12 col-md-5 p-4 d-flex align-items-center">
            <div class="text-container d-flex flex-column align-items-left">
               <h1 class="hero-text text-left">Immerse yourself in a world of vegan and cruelty free beauty at <span
                     class="fw-bold">Clean Cosmetics</span></h1>
               <p>Refresh your beauty routine with <span class="fw-bold">Clean Cosmetics</span>, an Irish based business
                  offering a new philosophy on aesthetics, including make-up and skincare and biodegradable packaging.
               </p>
               <div>
                  <a class="btn btn-lg fw-bold hero-btn" href="{% url 'products' %}">Dive in</a>
               </div>
            </div>
         </div>
         <div class="col-12 col-md-7 mt-3 d-flex justify-content-center">
            <img class=" hero-image img-fluid" src="{% static 'images/background.jpg' %}" alt="Hero image">
         </div>
      </div>
   </div>
</section>