{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 custom-border text-center my-3 p-3">
                <div class="contact-success">
                    <i class="fa-solid fa-circle-check fa-bounce" style="color: #606c38;"></i>
                    <h4>Thank you for contacting Clean Cosmetics!!</h4>
                    <p>Wre hope to get back to you within the next 24 hours.</p>
                </div>
            </div>
        </div>
{% endblock %}