{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mb-2">
   <div class="row d-flex justify-content-center g-0">
      <div class="col-12 py-4">
         <h3 class="text-center">Manage Products</h3>
         <hr>
         <h5 class="text-center">Add A Product</h5>
         <hr>
      </div>
   </div>
   <div class="row d-flex justify-content-around g-0">
      <div class="col-12 col-md-8 col-lg-6 p-3 my-1 form-border">
         <form method="POST" ction="{% url 'add_product' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="form-floating mb-2">
               <a class="btn btn-orange mt-2" href="{% url 'products' %}">Cancel</a>
               <button class="btn btn-orange mt-2" type="submit">Add Product</button>
            </div>
         </form>
      </div>
   </div>
</div>
</div>
{% endblock %}