{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Card Start-->
<div class="row">
   {% for product in products %}
   <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 py-2">
      <div class="card h-100 border-0">
         <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.title }}">
         <div class="card-body pb-0">
            <h5 class="card-title">{{ product.title }}</h5>
            <p>{{ product.brand }}</p>
            <p>€{{ product.price }}</p>
            <p class="card-text">{{ product.description }}</p>
            <a href="{% url 'product_info' product.id %}" class="btn btn-primary">Product Details</a>
         </div>
      </div>
      <!--End Card-->
   </div>
   {% endfor %}
   {% endblock %}